.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

.Home {
  text-align: center;
}

.Profile {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

.svglogo{
  transition: 0.4s;
  &:hover {
    fill: red;
  }
}