@font-face {
  font-family: 'Proto Grotesk Web';
  src: url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Regular.eot');
  src: local('Proto Grotesk Web Regular'), local('ProtoGroteskWeb-Regular'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Regular.woff2') format('woff2'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Regular.woff') format('woff'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proto Grotesk Web';
  src: url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Bold.eot');
  src: local('../fonst/ProtoGrotesk/Proto Grotesk Web Bold'), local('ProtoGroteskWeb-Bold'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Bold.woff2') format('woff2'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Bold.woff') format('woff'),
      url('../fonts/ProtoGrotesk/ProtoGroteskWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/calibri.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Calibri/calibri.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Calibri/calibri.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Calibri/calibri.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Calibri/calibri.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Calibri/calibri.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Calibri/calibri.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.Homepage {
  text-align: center;
}

.header {
  background-color: #15616D;
  color: #FFF9F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.headerLogo * {
  fill:#FFF9F1;
  display: inline-block;
}

.head_el1 {
  display: flex;
  margin: 1%;
  width: 20%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  align-items: center;
  user-select: none;
  color:#FFF9F1;
  line-height: 0;
}
a.headerlink:link, a.headerlink:visited, a.headerlink:hover, a.headerlink:focus, a.headerlink:active {
  color: #FFF9F1;
  text-decoration: none;
}

.head_el2{
  display: flex;
  width: 20%;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin: 1%;
  gap: 10%;
}

.homel1{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.homel2{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
}
.homelogotext1{
  font-family: 'Proto Grotesk Web';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #041039;
  font-size: 300%;
}
.homelogotext2{
  font-family: 'Calibri';
  color: #041039;
  font-size: 180%;
  line-height: 50px;
}
.homel3{
  margin: 1% 33% 2%;
  color: #041039;
  font-family: 'Inter', sans-serif;
  text-align: left;
}
.homelogotext3{
  color:#041039;
  font-size: 36px;
  margin: 1% 33% 0%;
  font-family: 'Inter', sans-serif;
  display: inline-block;
}
.homelist{
  text-align: center;
  display: inline-block;
  margin-top: 2%;
}
.homelist li{
  padding-left: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  background-image: url("../images/text-mark.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px;
  color: #041039;
}

.homebut{
  display: inline-block;
  margin-top: 2%;
  font-size: 32px;
  width: 583px;
  height: 79px;
  border-radius: 25px;
  font-family: 'Inter', sans-serif;
  color: #FFF9F1;
  background-color: #78290F;
  text-decoration: none;
  user-select: none;
  outline: none;
  box-shadow: inset 0 -10px 1px rgba(0,0,0,0), inset 0 10px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}
 
.homebut:hover{
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(180,93,64, 0.5);
}
.homebut:active{
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(95, 32, 12, 0.1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(180,93,64,.45);
}

.regpage{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF7EB;
}
.regcontainer{
  border: 2px solid #78290F;
  text-align: center;
  width: 700px;
  height: 725px;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  align-items: center;
  
}
.regel1{
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 200%;
  align-items: center;
  user-select: none;
  color:#041039;
  border-bottom: 2px solid #FFB570;
  width: 698px;
  align-items: center;
  justify-content: center;
  padding: 4% 0% 4% 0%;
}
.regLogo{
  fill:#041039;
  display: inline-block;
}
.regtext1{
  font-family: 'Inter', sans-serif;
  color:#041039;
  font-size: 125%;
  padding: 4% 0% 4% 0%;
  display: inline-block;
}

.regform form {
  text-align: center;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  line-height: 50px;
}
.regform h2 {
  font-family: 'Inter', sans-serif;
  color:#041039;
  font-size: 175%;
}
.regform input[type="text"],
.regform input[type="password"] {
  padding: 15.5px;
  width: 600px;
  border-radius: 15px;
  border: 2px solid #78290F;
}
.regform input[type="submit"] {
  margin: 8% 0% 8% 0%;
  padding: 9px;
  width: 602px;
  border-radius: 15px;
  background: #78290F;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  color: #FFF9F1;
  background-color: #78290F;
  font-size: 175%;
  user-select: none;
  box-shadow: inset 0 -10px 1px rgba(0,0,0,0), inset 0 10px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}
.regform input[type="submit"]:hover{
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(180,93,64, 0.5);
}
.regtext2{
  font-family: 'Inter', sans-serif;
  color:#041039;
  font-size: 100%;
  padding: 4% 0% 1% 0%;
  display: inline-block;
  opacity: 50%;
  border-top: 2px solid #FFB570;
  width: 698px;
  align-items: center;
  justify-content: center;
}
.regbut{
  display: inline-block;
  margin-top: 2%;
  font-size: 175%;
  color:#78290F;
  width: 600px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #78290F;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  user-select: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.regbut :hover{
  background-color: #333;
  color: #8a0d0d;
  opacity: 0.8;
}

html, body{
  overflow: hidden;
}
